html, body {
	background: #eee;
	font-size: 24px;
	margin: 0;
	font-family: "Segoe UI Light";
	color: #222;
	width: 800px;
	margin: 0 auto;
}
h1, h2, h3 {
	color: #333;
	text-align: center;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.5em;
}

.transform {

}

.transform.scale {
	transform: scale(.5);
}
.transform.rotate {
	transform: rotate(45deg);
}
.transform.skewX {
	transform: skewX(45deg);
}
.transform.skewY {
	transform: skewY(45deg);
}
.transform.translate {
	transform: translate(20px, 120px);
}
.transform.rotate-3d {
	transform: rotateY(56deg) rotateX(-57deg) rotateZ(-19deg);
}