<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Template</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
<div id="wrapper">

  <div id="header">
    
  </div>



  <div id="sidebar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quod laboriosam animi possimus et beatae enim nulla, veniam dolore at alias illum repellat harum minima, dolorem, neque odio soluta facere commodi sint ut maxime doloremque! Eius explicabo ipsam, similique praesentium asperiores omnis ut culpa voluptatibus debitis rem pariatur laborum fugiat!
    <ul class="main-menu">
            <li><a href="#company">О компании</a></li>
            <li><a href="#services">Услуги</a>
              <ul class="sub-menu">
                <li><a href="#1">Разработка</a></li>
                <li><a href="#2">Продвижение</a></li>
                <li><a href="#3">Контекст</a></li>
              </ul>
          </li>
           <li><a href="#team">Сотрудники</a></li>
          <li><a href="#contacts">Контакты</a></li>
    </ul>
  </div>
  <div id="content">


    <ul class="Gallery">
      <li class="Gallery-item">
        <a href="#" class="Gallery-link">
          <img
            src="https://lorempixel.com/400/400"
            alt=""
            class="Gallery-pic"
          >
        </a>
      </li>
      <li class="Gallery-item">
        <a href="#" class="Gallery-link">
          <img
            src="https://lorempixel.com/400/400"
            alt=""
            class="Gallery-pic"
          >
        </a>
      </li>
      <li class="Gallery-item">
        <a href="#" class="Gallery-link">
          <img
            src="https://lorempixel.com/400/400"
            alt=""
            class="Gallery-pic"
          >
        </a>
      </li>
      <li class="Gallery-item">
        <a href="#" class="Gallery-link">
          <img
            src="https://lorempixel.com/400/400"
            alt=""
            class="Gallery-pic"
          >
        </a>
      </li>
    </ul>


  </div>
</div>
<div id="footer">
  This is footer
</div>
</body>
</html>