<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div class="Wrapper">
    <div class="Wrapper-header">
        <div class="Wrapper-logo">
            <a href="#" class="Logo">
            <img src="" alt="" class="Logo-img">
            </a>
        </div>
        <nav class="Wrapper-Menu">
            <ul class="Menu">
                <li class="Menu-item"><a href="#" class="Menu-link">Item 01</a></li>
                <li class="Menu-item"><a href="#" class="Menu-link">Item 02</a></li>
                <li class="Menu-item"><a href="#" class="Menu-link">Item 03</a></li>
                <li class="Menu-item"><a href="#" class="Menu-link">Item 04</a></li>
                <li class="Menu-item"><a href="#" class="Menu-link">Item 05</a></li>
            </ul>
        </nav>
    </div>
        <aside class="Wrapper-sidebar"></aside>
    <main class="Wrapper-content"></main>
    <footer class="Wrapper-footer"></footer>
</div>
</body>
</html>